$desktop: 1024px;
$tablet: 768px;
$mobile: 480px;
$font-family: "Open Sans";
$font-default: 14px;
$font-small: 10px;
$font-nomal: 16px;
$font-normal: 16px;
$md-heading: 18px;
$color-2: #999;
$orange: #e5995f;
$border-gray: #dddddd;
$text-muted: #999999;
$price-color: #e5995f;
$footer-background: #3d1000;
$icon-down-color: #9a9a9a;
$background-color: #3d1000;
$boder-color: #300e01;
$font-black: #000;
$primary-color: #3d1000;
$secondary-color: #e5995f;
$overlap-height: -25px;
$otv-color-danger: #ea4e3d;
$otv-color-success: #63cb89;
$line-right-color: #641f06;
$sidebar-width: 250px;
/* ---step--- */
$normal-black: #393a41;
$step-nomal: #c7ced6;
$diameter: 40px;
$space_node: 160px;








$sidebar-width: 250px;

$normal-color: #e5f4f1;
$vip-1-color: #e5e6f4;
$vip-2-color: #f3f4e5;
$vip-3-color: #f4e5e5;

